<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="uc-container">
                <h1 class="logo"><a href="javascript:;">
                    <img src="/images/logo.png" alt="">
                </a></h1>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrap">
            <div class="uc-container uc-container2 clearfix">
                <div class="left fl">
                    <h1>认识网龙</h1>
                    <p>网龙网络控股有限公司（香港交易所主板股票代码：00777.HK）</p>
                    <p>中国网络游戏、移动互联网应用行业的领军者</p>
                    <p>中国在线教育、企业</p>
                </div>
                <div class="right fr">
                    <div class="login-container">
                        <div class="login-hd">账户登录</div>
                        <div class="login-bd">
                            <form class="login">
                                <div class="group">
                                    <div class="control">
                                        <label class="placeholder">请输入账户</label>
                                        <input class="input" type="text">
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="control">
                                        <label class="placeholder">请输入密码</label>
                                        <input class="input" type="text">
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="control phone">
                                        <label class="placeholder">请输入验证码</label>
                                        <input class="input" type="text">
                                        <a class="code" href="javascript:;"><img class="verify-img" src="/images/verify-img.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="group clearfix group1">
                                    <span class="checkbox fl selected"><i></i>下次自动登录</span>
                                    <a href="javascript:;" class="blue fr">忘记密码?</a>
                                </div>
                                <div class="group">
                                    <a class="submit-btn" href="javascript:;">登录</a>
                                </div>
                                <div class="group group1 clearfix">
                                    <p class="fr">还没有帐号? <a href="javascript:;" class="blue">免费注册</a></p>
                                </div>
                            </form>
                        </div>
                        <div class="login-ft clearfix">
                            <p class="fl">合作网站帐号登录</p>
                            <a href="javascript:;" class="icon-wx1 fr"></a>
                            <a href="javascript:;" class="icon-sina1 fr"></a>
                            <a href="javascript:;" class="icon-qq1 fr"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="uc-container">
                <ul class="clearfix">
                    <li><a href="javascript:;">关于99.COM</a></li>
                    <li><a href="javascript:;">99 US</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="javascript:;">高薪诚聘</a></li>
                    <li><a href="javascript:;">站点地图</a></li>
                    <li><a href="javascript:;">举报</a></li>
                    <li><a href="javascript:;">福建网龙计算机网络信息技术有公司限公</a></li>
                </ul>
                <ul class="clearfix">
                    <li> Copyright &copy; 1999-2016 99.com All rights reserved.</li>
                    <li><a href="javascript"> 闽网文许字【2014】1348-045号</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>
