<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/password.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="uc-container">
                <h1 class="logo"><a href="javascript:;">
                    <img src="/images/logo.png" alt="">
                </a></h1>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="uc-container uc-container1">
            <form class="register password">
                <div class="group">
                    <div class="control clearfix">
                        <div class="label fl">账号验证</div>
                        <label class="placeholder label-placeholder">邮箱/用户名/手机</label>
                        <input class="input fr" type="text">
                    </div>
                    <span class="tip warning">为保证账户安全，需要安全验证</span>
                </div>
                <div class="group">
                    <div class="control phone label-phone clearfix">
                        <div class="label fl">验证码</div>
                        <label class="placeholder label-placeholder">请输入验证码</label>
                        <input class="input fl" type="text">
                        <a class="code" href="javascript:;"><img src="/images/verify-img.png" alt="" class="verify-img"></a>
                    </div>
                </div>
                <div class="group">
                    <a class="submit-btn" href="javascript:;">下一步</a>
                </div>
            </form>
        </div>
        <div class="uc-container uc-container1">
            <div class="password-container">
                <div class="title">
                    您正在找回通行证账号<span class="detail">15863638545</span>的密码
                    <a href="javascript:;" class="blue fr">使用邮箱找回密码</a>
                </div>
                <form class="register password">
                    <div class="group">
                        <div class="control phone">
                            <label class="placeholder">请输入验证码</label>
                            <input class="input" type="text">
                            <a class="code" href="javascript:;">获取验证码</a>
                        </div>
                    </div>
                    <div class="group">
                        <a class="submit-btn" href="javascript:;">下一步</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="uc-container uc-container1">
            <div class="password-container">
                <div class="title">
                    您正在找回通行证账号<span class="detail">stiampon@163.com</span>的密码
                    <a href="javascript:;" class="blue fr">使用手机找回密码</a>
                </div>
                <div class="done email">
                    <p>已发送验证信息</p>
                    <p>您的邮箱<span>stiampon@163.com</span>请注意查收邮件</p>
                </div>
                <div class="foot">请及时接收邮件，并按邮件中的操作提示，完成安全验证。没有收到邮件？<a href="javascript:;" class="blue">重新发送</a></div>
            </div>
        </div>
        <div class="uc-container uc-container1">
            <form class="register password">
                <div class="group">
                    <div class="control clearfix">
                        <div class="label fl">设置密码</div>
                        <label class="placeholder label-placeholder">输入你新的密码</label>
                        <input class="input fr" type="text">
                    </div>
                    <span class="tip warning">为保证账户安全，需要安全验证</span>
                </div>
                <div class="group">
                    <div class="control  clearfix">
                        <div class="label fl">确认密码</div>
                        <label class="placeholder label-placeholder">请再次输入新的密码</label>
                        <input class="input fl" type="text">
                    </div>
                </div>
                <div class="group">
                    <a class="submit-btn" href="javascript:;">完成</a>
                </div>
            </form>
        </div>
        <div class="uc-container uc-container1">
            <div class="password-container">
                <div class="title">
                    您正在找回通行证账号<span class="detail">stiampon@163.com</span>的密码
                    <a href="javascript:;" class="blue fr">使用手机找回密码</a>
                </div>
                <div class="done failed">
                    <p>对不起，该验证码已超过48小时</p>
                    <p>需要重新发送验证消息邮件</p>
                    <a href="javascript:;" class="resend-btn">重新发送</a>
                </div>
            </div>
        </div>
        <div class="uc-container uc-container1">
            <div class="password-container">
                <div class="title">
                    您正在找回通行证账号<span class="detail">stiampon@163.com</span>的密码
                    <a href="javascript:;" class="blue fr">使用手机找回密码</a>
                </div>
                <div class="done success">
                    <p>恭喜你</p>
                    <p><span class="detail">stiampon@163.com</span>重置密码成功</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="uc-container">
                <ul class="clearfix">
                    <li><a href="javascript:;">关于99.COM</a></li>
                    <li><a href="javascript:;">99 US</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="javascript:;">高薪诚聘</a></li>
                    <li><a href="javascript:;">站点地图</a></li>
                    <li><a href="javascript:;">举报</a></li>
                    <li><a href="javascript:;">福建网龙计算机网络信息技术有公司限公</a></li>
                </ul>
                <ul class="clearfix">
                    <li> Copyright &copy; 1999-2016 99.com All rights reserved.</li>
                    <li><a href="javascript"> 闽网文许字【2014】1348-045号</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>
