@import 'common.scss';
body,
html {
    background: #f0f1f2;
}

.uc-container {
    @extend %form;
    .group {
        .control {
            width: 320px;
        }
    }
    .register {
        .group {
            .control {
                padding: 0 18px;
                width: 350px;
                height: 48px;
                .input {
                    width: 245px;
                    line-height: 48px;
                    height: 48px;
                }
                .label {
                    width: 105px;
                    height: 48px;
                    line-height: 48px;
                }
                .select {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 14px 0;
                    line-height: 48px;
                    width: 265px;
                }
            }
            .phone {
                &.label-phone {
                    .input {
                        width: 150px;
                    }
                }
            }
            .placeholder {
                &.label-placeholder {
                    left: 123px;
                }
                top: 13px;
            }
            .tip {
                left: 430px;
                top: 13px;
            }
            .submit-btn {
                font-size: 16px;
                width: 388px;
                height: 46px;
                line-height: 46px;
            }
            .code {
                height: 43px;
                line-height: 43px;
            }
        }
    }
}

.uc-container1 {
    font-size: 14px;
    background: #fff;
    .password {
        margin: 100px 0 100px 405px;
    }
    .password-container {
        padding: 0 40px;
        .password {
            margin-left: 365px;
        }
        .title {
            font-size: 16px;
            line-height: 1;
            padding: 35px 0;
            border-bottom: 1px solid #dadada;
        }
        .detail {
            font-weight: bold;
            margin: 0 5px;
        }
        .done {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            padding: 228px 0 140px 0;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 150px;
                left: 50%;
                margin-left: -40px;
                width: 80px;
                height: 66px;
                @extend %ico;
            }
            &.email {
                &:before {
                    background-position: -300px 0;
                }
            }
            &.failed {
                &:before {
                    top: 130px;
                    height: 80px;
                    background-position: -200px 0;
                }
            }
            &.success {
                &:before {
                    top: 130px;
                    height: 80px;
                    background-position: -99px 0;
                }
            }
            .resend-btn {
                margin: 40px auto 0;
                @include button(206px, 46px, 16px, $bule, #fff, 3px, #288fe5);
            }
        }
        .foot {
            padding: 25px 0;
            text-align: center;
            border-top: 1px solid #dadada;
        }
    }
}
